<html lang="en">

<head>
    <title>Sockeye</title>
    <meta charset="utf-8">
    <link href="/static/assets/favicon.ico" rel="shortcut icon" />
</head>

<body>

<div id="middle-section">
    <div id="log"></div>
</div>

<script>
window.onload = function () {

    console.log("Protocol: " + location.protocol);
    var wsURL = "ws://" + document.location.host + "/ws";
    if (location.protocol === 'https:') {
        wsURL = "wss://" + document.location.host + "/ws";
    }
    console.log("WS URL: " + wsURL);

    var log = document.getElementById("log");

    function appendLog(item) {
        var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
        log.appendChild(item);
        if (doScroll) {
            log.scrollTop = log.scrollHeight - log.clientHeight;
        }

    }

    if (log) {

        sock = new WebSocket(wsURL);

        sock.onopen = function () {
            console.log("connected to " + wsURL);
        };

        sock.onclose = function (e) {
            console.log("connection closed (" + e.code + ")");
        };

        sock.onmessage = function (e) {
            console.log(e);
            var t = JSON.parse(e.data);
            console.log(t);
            var item = document.createElement("div");
            item.className = "item";
            item.innerText = t;
            appendLog(item);
        };

    } // if log

};
</script>

</body>
</html>
