
<html lang="en">

<head>
    <title>GoLang Web Application</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Poke</h1>
                <p>Poke an event.</p>
            </div>
        </div>

        <div class="card-body">
        <form action="/do" method="POST">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="basic-domain">EventType:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">e.g. dev.knative.event.type</span>
                            </div>
                            <input type="text" class="form-control" id="event-type" aria-describedby="basic-addon3" name="eventtype" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>

    <div class="container">
        {{ range $key, $value := .eventTypes }}
            <li><strong>{{ $key }}</strong>: {{ $value }}</li>
        {{ end }}
    </div>

    <form action="/do" method="POST">

        <div>
            <label for="firstname">firstname</label>
            <input type="text" name="firstname" id="firstname"/>
        </div>

        <div>
            <label for="lastname">lastname</label>
            <input type="text" name="lastname" id="lastname" required/>
        </div>

        <p role="alert" hidden>Connection failure, please try again.</p>

        <button type="submit">Submit</button>

    </form>

    <div id="output"></div>


    <script src="static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <script>
document.addEventListener('submit', e => {
    e.preventDefault();
    const form = e.target;
    fetch(form.action, {
        method: form.method,
        body: new FormData(form)
    })
        .then(res => res.text())
        .then(text => new DOMParser().parseFromString(text, 'text/html'))
        .then(doc => {
            let output = document.querySelector("#output");
            const result = document.createElement('div');
            result.innerHTML = doc.body.innerHTML;
            result.tabIndex = -1;
            output.prepend(result);
            result.focus();
        })
        .catch(err => {
            // todo
        });
});

    </script>

</body>
</html>
